.control-bar {
  background: $gray-light;
  padding-top: 12px;
  padding-bottom: 12px;
  label {
    font-weight: normal;
  }
}

// /////////////////////////////////////////////////////
// // Breakpoint Styles
// // --------------------------------------------------
// ////////////////////////////////////////////////////

/* Medium devices (desktops, 992px and above) */
@media (min-width: $screen-md-min) {
  .control-bar {
    .form-group {
      &:nth-child(1) {
        width: 40%;
        .form-control {
          width: 80%;
        }
      }
      &:nth-child(2) {
        width: 40%;
        .form-control {
          width: 72%;
        }
      }
      &:nth-child(3) {
        width: 19%;
        .form-control {
          width: 38%;
        }
        p {
        float: right;
        margin-bottom:0;
        }
      }
      &:nth-child(4) {
        width: 1%;
        .form-control {
          width: 38%;
        }
      }
    }
  }
}
/* Medium devices (desktops, 992px and below) */
@media (max-width: $screen-md-min) {
    .control-bar .form-group {
      width: 100%;
      label {
        width: 25%;
      }
      .form-control {
        width: 70%;
      }
    }
}
/* Small devices (tablets, 768px and below) */
@media (max-width: $screen-sm-min) {
    .control-bar .form-group {
      .form-control, label {
        width: 100%;
      }
    }
}
