<main ng-controller="OverviewController as ctrl" id="overview" class="overview">
  <article class="one-col">
    <!-- HEADER -->
    <div class="row site-header">
      <div class="col">
       <header class="ten-two container-full">
         <div class="row">
           <div class="primary">
              <h1 class="site-tag">Career Guidance System Analytics Dashboard<strong>&nbsp;Overview</strong></h1>
              <h5>Last updated at {{ctrl.lastRunDate}}</h5>
           </div>
           <div class="secondary ov-user">
            <p>Welcome {{ctrl.name}}<a ui-sref="logout">Logout</a></p>
           </div>
         </div>
       </header>
      </div>
    </div>
    <!-- CONTROL BAR -->
    <div class="row">
      <div class="col">
        <global-filters></global-filters>
      </div>
    </div>
    <!-- PRIMARY METRIC SECTION -->
    <div class="row">
      <div class="col container-full" cg-busy="ctrl.metricLoader">
        <d3-chart id="primary-metric" config="ctrl.metrics">
          <d3-chart-header></d3-chart-header>
          <d3-chart-query></d3-chart-query>
          <d3-chart-textual></d3-chart-textual>
          <primary-metric></primary-metric>
          <d3-chart-footer></d3-chart-footer>
        </d3-chart>
      </div>
    </div>
    <!-- QUESTIONNAIRE RESPONSES -->
    <div class="row" ng-if="ctrl.tenant === 'uopx'">
      <div class="col container-full" cg-busy="ctrl.questionnairePromise">
        <d3-chart id="questionnaire-responses" config="ctrl.questionnaire">
          <d3-chart-header></d3-chart-header>
          <d3-chart-query></d3-chart-query>
          <d3-chart-textual></d3-chart-textual>
          <d3-five-col-donut></d3-five-col-donut>
          <d3-chart-footer></d3-chart-footer>
        </d3-chart>
      </div>
    </div>
    <!-- TOP 20 -->
     <div class="row">
      <div class="col container-full">
        <section class="three-col container-full">
          <div class="row">
            <div class="col" cg-busy="ctrl.jobsearchTopTitlePromise">
              <d3-chart id="jobsearch-top-title-hbar" config="ctrl.jobsearchTopByTitle">
                <d3-chart-header></d3-chart-header>
                <d3-chart-query></d3-chart-query>
                <d3-chart-search></d3-chart-search>
                <d3-horizontal-bar></d3-horizontal-bar>
                <d3-chart-footer></d3-chart-footer>
              </d3-chart>
            </div>
            <div class="col" cg-busy="ctrl.jobapplicationTopTitlePromise">
              <d3-chart id="jobapplication-top-title-hbar" config="ctrl.jobapplicationTopTitle">
                <d3-chart-header></d3-chart-header>
                <d3-chart-query></d3-chart-query>
                <d3-chart-search></d3-chart-search>
                <d3-horizontal-bar></d3-horizontal-bar>
                <d3-chart-footer></d3-chart-footer>
              </d3-chart>
            </div>
            <div class="col">

<!--         <div class="col" cg-busy="ctrl.milestoneProgressionPromise">
              <d3-chart id="milestone-progression" config="ctrl.milestoneProgression">
                <d3-chart-header></d3-chart-header>
                <d3-chart-query></d3-chart-query>
                <d3-chart-search></d3-chart-search>
                <d3-horizontal-bar></d3-horizontal-bar>
                <d3-chart-footer></d3-chart-footer>
              </d3-chart>-->
            </div>
          </div>
        </section>
      </div>
    </div>
  </article>
</main>

